* text=auto eol=lf

*.m text eol=lf
*.md text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.sh text eol=lf
*.ps1 text eol=lf
*.csv text eol=lf
*.tsv text eol=lf
*.txt text eol=lf

*.fig binary
*.mat binary
*.mdl binary diff merge=mlAutoMerge
*.mdlp binary
*.mex* binary
*.mlapp binary
*.mldatx binary merge=mlAutoMerge
*.mlproj binary
*.mlx binary
*.p binary
*.plprj binary
*.sbproj binary
*.sfx binary
*.sldd binary
*.slreqx binary merge=mlAutoMerge
*.slmx binary merge=mlAutoMerge
*.sltx binary
*.slxc binary
*.slx binary merge=mlAutoMerge
*.slxp binary

## MATLAB Project metadata files use LF line endings
/resources/project/**/*.xml text eol=lf

## Other common binary file types
*.docx binary
*.exe binary
*.jpg binary
*.jpeg binary
*.pdf binary
*.png binary
*.tif binary
*.tiff binary
*.xlsx binary
